@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__img {
  max-width: 100%;
  height: 100%;
  width: 790px;
  height: 789px;
}

.main-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#F8F8F6), color-stop(#C8E5E1), to(#C4E4DF));
  background: linear-gradient(to top, #F8F8F6, #C8E5E1, #C4E4DF);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.form__content {
  height: 471px;
  width: 461px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: -10px;
}

.language__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70%;
  margin-top: 10px;
}

.language__container .language__name {
  opacity: 0.8;
  font-family: "Poppins", sans-serif;
  margin-right: 5px;
}

.language__container .symbol {
  opacity: 0.7;
}

.language__container:hover {
  opacity: 0.4;
  cursor: pointer;
}

.form__title {
  color: #6B6B6B;
  font-size: 25px;
  font-family: "Segoe UI", sans-serif;
}

.form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
}

.form .email__input {
  width: 344px;
  height: 67px;
  padding-left: 1rem;
  letter-spacing: 2px;
  background-color: #EBF9F7;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 21px;
  color: #6B6B6B;
  border-radius: 5px;
}

.form .password__input {
  width: 344px;
  height: 67px;
  padding-left: 1rem;
  letter-spacing: 2px;
  background-color: #EBF9F7;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 21px;
  color: #6B6B6B;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.form .login__button {
  margin-top: 1.5rem;
  width: 364px;
  height: 67px;
  background-color: #85CEC2;
  border: transparent;
  border-radius: 10px;
  color: #FFF;
  font-size: 26px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.form .login__button:hover {
  background-color: #50C1AE;
}

.form .forget__button {
  color: #85CEC2;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  background-color: transparent;
  border: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form .forget__button:hover {
  color: rgba(0, 0, 0, 0.7);
}

.hero__img {
  width: 790px;
  height: 789px;
  opacity: 0.8;
}
/*# sourceMappingURL=login.css.map */